<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login</title>
    </head>
    <body>

        <h1>Admin login!</h1>
        <form action="#" th:action="@{/login/log}" method="GET">
            <p><label for="username">Username</label>: <input type="text" name="username" id="username"/></p>
            <p><label for="password">Password</label>: <input type="text" name="password" id="password"/></p>
            <p><input type="submit" value="Submit" /></p>
        </form>

    </body>
</html>
